<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="/font/css2.css" rel="stylesheet">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/index.js"></script>
    <title>Node.Chat V3</title>
    <style>
        body {
            font-family: 'Ubuntu', sans-serif;
        }
    </style>
</head>

<body>

    <div class="container mt-3">

        <h1 class="text-center">Node.Chat V3</h1>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#join">Join Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#create">Create Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#about">About</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="join" class="container tab-pane active"><br>
                <h3>Join Chat</h3>
                <p>To join a chat, enter the chat ID in the box and join. If the chat does not exist or you want to make a new one, click "Create Chat" above</p>
                <div class="h-100 d-flex align-items-center justify-content-center ">
                    <div class="bg-light w-50 text-center" style="padding: 15px;border-radius:20px 20px 0px 0px;">
                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Username</span>
                            </div>
                            <input type="text" class="form-control" placeholder="name" aria-label="Username" aria-describedby="basic-addon1" id="username1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Room ID</span>
                            </div>
                            <input type="number" class="form-control" placeholder="ID" aria-label="Username" aria-describedby="basic-addon1" id="chatID">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Password</span>
                            </div>
                            <input type="text" class="form-control" placeholder="password (if required)" aria-label="Password" aria-describedby="basic-addon1" id="password1">
                        </div>
                        <button type="button" class="btn btn-primary " id="joinChat">Join Chat</button> Or <a href="/chat" class="btn btn-secondary" role="button" id="reOpen">Re-Open</a>
                    </div>
                </div>
                <br>
                <div class="h-100 d-flex align-items-center justify-content-center ">
                    <div class="bg-light w-50 text-center" style="padding: 15px;border-radius:0px 0px 20px 20px;">
                        <h3>Open Chats</h3>
                        <%- activeChats %>
                    </div>
                </div>
            </div>
            <div id="create" class="container tab-pane fade"><br>
                <h3>Create Chat</h3>
                <div class="h-100 d-flex align-items-center justify-content-center ">
                    <div class="bg-light w-50 text-center" style="padding: 15px;border-radius:20px 20px 20px 20px;">
                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Username</span>
                            </div>
                            <input type="text" class="form-control" placeholder="you name" aria-label="Username" aria-describedby="basic-addon1" id="username2">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Chat Name</span>
                            </div>
                            <input type="text" class="form-control" placeholder="chat name" aria-label="Name" aria-describedby="basic-addon1" id="chatName">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Password</span>
                            </div>
                            <input type="text" class="form-control" placeholder="chat password (blank for none)" aria-label="Password" aria-describedby="basic-addon1" id="password2">
                        </div>
                        <div class="btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="checkbox" checked autocomplete="off" id="censorChat"> Censor Chat
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="checkbox" checked autocomplete="off" id="antiSpam"> Anit Spam
                            </label>
                        </div>
                        <br>
                        <button type="button" class="btn btn-primary " id="createChat">Create Chat</button>
                    </div>
                </div>
            </div>
            <div id="about" class="container tab-pane fade"><br>
                <h3>About</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                <div class="h-100 d-flex align-items-center justify-content-center ">
                    <div class="bg-light w-50 text-center" style="padding: 10px; border-radius:20px">
                        <h3>Change Log
                            <%= version %>
                        </h3>
                        <br>
                        <div style="text-align: left;padding-left: 40px;">
                            <%- changeLog %>
                        </div>
                        <br>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <footer class="text-center fixed-bottom">
        <div class="row p-1">
            <div class="col" style="text-align:left;">Made By Liam</div>
            <div class="col"><a href="">About</a> | <a href="" onclick="alert('feedback page not added yet!')">Feedback</a></div>
            <div class="col" style="text-align:right;">
                <%= version %>
            </div>
        </div>
    </footer>
</body>

</html>